<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<body>
    
    <div class="container" id="containerTop">
        <div class="card" id="cardTop">
            <div class="card-header">
                <h3>Cadastro de Categoria</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/save">
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input type="text" class="form-control" id="title" name="title"
                            placeholder="Informe o título da categoria">
                    </div>
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

</body>

<%- include ('../../partials/footer.ejs') %>